Dev/
HandsOn/
Switch/
GIT-PAT.txt
/Users/kousik/Desktop/Mind Canvas/Java/Spring Framework/XML Based/xml/target
/Users/kousik/Desktop/Mind Canvas/Java/Spring Framework/Annotation Based/annotation/target
/Users/kousik/Desktop/Mind Canvas/Java/Spring Framework/Java Based/java/target
/Users/kousik/Desktop/Mind Canvas/Java/Spring Boot/demo/target